<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

<a href="novaTransferencia">Realizar nova transferência</a>
<br/>
<br/>
<table>
	<tr><th>Conta origem</th>
		<th>Conta destino</th>
		<th>Data da transferência</th>
		<th>Data de agendamento</th>
		<th>Valor da transferência</th>
		<th>Valor da Taxa</th>
		<th>Tipo de taxa</th></tr>
	<tr th:each="transferencia : ${transferencias}">
		<td><span th:text="${transferencia.contaOrigem}"></span></td>
		<td><span th:text="${transferencia.contaDestino}"></span></td>
		<td><span th:text="${transferencia.dataDaTransferencia}"></span></td>
		<td><span th:text="${transferencia.dataDeAgendamento}"></span></td>
		<td><span th:text="${transferencia.valor}"></span></td>
		<td><span th:text="${transferencia.taxa}"></span></td>
		<td><span th:text="${transferencia.tipoDeTaxa}"></span></td>
	
	</tr>

</table>


</body>
</html>